<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>Mongoose-Flights-Flight List</title>
	<nav>
		<ul class="navbar">
			<a href="/">HOME-PAGE</a>  
			<a href="/flights/new">NEW FLIGHT</a>
		</ul>
	</nav>	
	<section id="header"><h1>MONGOOSE FLIGHTS</h1></section>
</head>

<body>
	<table>
		<thead>
			<h2 class="flightListTitle">Flight List</h2>
			<tr>
				<th>Airline</th>
				<th>Airport</th>
				<th>Flight Number</th>
				<th>Departure Date</th>
			</tr>
		</thead>
		<tbody>
			<!-- Write the line of EJS to iterate over movies using forEach -->
			<% flightDocs.forEach(m => { %>
			 
		
			<tr>
				<td>
					<%= m.airline %>
				</td>
				<td>
					<%= m.airport %>
				</td>
				<td>
					<%= m.flightNo %>
				</td>
				<td class="<%= m.isPassed ? "past-departure": "" %>">
					<%= m.departs%>
                </td>
				<td><a href="/flights/<%= m._id %>">DETAILS</a></td>
			</tr>
			<!-- Close the forEach using EJS here -->
			<% }) %>
		</tbody>

	</table>

</body>

</html>